*,header,div,footer{
	outline: 0px dashed red;
}
body{
	background-image: 		url(images/pic11.jpg);
	background-repeat: 		no-repeat;
	background-position: 	top center;
	background-size: 		cover;
	background-attachment:  fixed;
	z-index: 				-5;
	
	
}
div.content-container{
	margin: 				0 auto;
	width: 					1300px;
	
}
.content-container header.head{
	width: 					inherit;
	z-index: 				100;
}
.content-container header.head .contain{
	width: 					inherit;
}
.content-container header.head .contain .menubar{
	width: 					inherit;
	min-height: 			250px;
	
	
}
.content-container header.head .contain .menubar .logo{
	width: 					450px;
	min-height: 			100px;
	float: 					left;
	margin-top: 			100px;
	font: 					45px/100px 'Playfair Display', 'Times New Roman', serif;
	color: 					white;
	text-align: 			center;
}

.content-container header.head .contain .menubar .menu{
	width: 					500px;
	min-height: 			250px;
	margin-left: 			800px;
	font-weight: 			bolder;
	position: 				absolute;
	
}
.content-container header.head .contain .menubar .menu ul{
	list-style-type:		none;	
	width: 					490px;
}
.content-container header.head .contain .menubar .menu ul li{
	float: 					right;
	width: 					120px;
	min-height: 			250px;
	text-align: 			center;
	display: 				inline-block;
	
}
.content-container header.head .contain .menubar .menu ul li a{
	text-decoration: 		none;
	color:					white;
	display: 				inline-block;
	font: 					16px/242px 'Playfair Display', 'Times New Roman', serif;
	text-transform: 		uppercase;
	width: 					100%;
	height: 				100%;
	letter-spacing: 		4px;
	background-image: 		url(images/menu_bg.png);
	background-repeat: 		no-repeat;
	background-size: 		cover;
	background-position: 	0px -250px;
	-webkit-transition: 	all 1s;
  	-moz-transition: 		all 1s;
  	-o-transition: 			all 1s;
  	-os-transition: 		all 1s;
}
.content-container header.head .contain .menubar .menu ul li a:hover{
	background-position: 	0 0;
	-webkit-transition: 	all 500ms;
  	-moz-transition: 		all 500ms;
  	-o-transition: 			all 500ms;
  	-os-transition: 		all 500ms;
  	
}
/* ... End MENUBAR ... */


/* Footer & Slide */
footer.foot{
	margin:  				0 auto;
	width: 					1300px;
	min-height: 			270px;
	background-color: 		#000;
	padding: 				1px; 
	margin-top: 			550px;
	opacity: 				0.8;
}	

footer.foot .slide{
	margin: 				0 auto;
	margin-top: 			10px;
	min-height: 			130px;
	width: 					1280px;
	background-color: 		red;
}
footer.foot .text{
	width: 					500px;
	height: 				30px;
	margin: 				0 auto;
	margin-top:				60px;
	color: 					#fff;
	text-align: 			center;
}
footer.foot .text p {
	color: 					#fff;
	font-size: 				12px;
}
	

